.growla-award {
    background-color: var(--color-dark-2);
    padding: 3rem 4rem;

    display: flex;
    align-items: center;
    gap: 3rem;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
        text-align: center;
    } 

    h6 {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--color-paragraph);
        @include animateIt;
    }

    h6.growla-award-title {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;

        flex: 2;
    }

    &-presenter {
        font-weight: 500;
    }

    &:hover {
        h6 {
            color: var(--color-primary);
        }

        h6.growla-award-title {
            color: var(--color-white);
        }
    }
}