.growla-block-grid-2 {
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }

    &-block-wrapper {
        width: calc( 33% - 1.7rem );

        @media only screen and (max-width: 991px) {
            width: calc( 50% - 1.7rem );
        }

        @media only screen and (max-width: 757px) {
            width: 100%;
        }
    }
}