.growla-block-slider {
    overflow: visible;
}

.growla-block-slide {
    &--thumbnail {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--icon {
        width: 12rem;
        aspect-ratio: 1 / 1;
        background-color: var(--color-primary);

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        left: 0;
        bottom: 0;

        [dir='rtl'] & {
            right: 0;
        }

        svg {
            max-width: 58px;
        }

        @media only screen and (max-width: 991px) {
            width: 6rem;

            svg {
                max-width: 30px;
            }
        }
    }

    &--content {
        display: flex;
        align-items: flex-start;
        gap: 14rem;

        margin-top: 4.5rem;

        &-inner {
            width: 50%;
        }

        @media only screen and (max-width: 991px) {
            gap: 5rem;
            margin-top: 2rem;

            &-inner {
                width: 100%;
            }
        }

        &-heading {
            color: var(--color-white);
        }

        &-index {
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 5rem;
            color: var(--color-primary);
            letter-spacing: 3px;
            white-space: nowrap;

            &-wrapper {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }

        p {
            margin-top: 2rem;
        }
    }
}

a.growla-block-slide {
    .growla-block-slide--thumbnail {
        outline: 2px solid transparent;
        @include animateIt;
    }

    &:hover {
        .growla-block-slide--thumbnail {
            outline-color: var(--color-primary);
        }
    }
}
