.growla-block-slide-2 {
    background-color: var(--color-dark-2);
    padding: 5rem 5rem 4rem 5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    outline: .2rem solid transparent;

    --outline-color: var(--color-primary);
    @include animateIt;

    &--icon {
        background-color: var(--color-primary);
        padding: 2rem;
        width: 10.4rem;
        height: 10.4rem;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;

        &-top {
            top: 0;
            right: 0;
        }

        &-bottom {
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
        }

        svg {
            height: 6rem;
        }
    }

    &--content {

        &-inner-2 {
            position: absolute;
            top: 0;
            left: 0;

            opacity: 0;
        }

        &-wrapper {
            position: relative;
        }

        &-heading {
            max-width: 70%;
            margin-bottom: 4.2rem;
        }

        p {
            max-width: 100%;
        }

        &-icon {
            position: relative;

            text-align: center;
            padding-top: 3rem;
            margin-top: 4rem;

            &-border {
                width: 100%;
                height: .1rem;
                background-color: var(--color-border);

                position: absolute;
                top: 0;
                right: 0;
            }

            svg {
                height: 3.4rem;
                fill: var(--color-primary);
            }

            &-wrapper {
                position: relative;
                height: 3.4rem;
            }

            .normal-icon,
            .active-icon {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            .active-icon {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &:hover {
        outline-color: var(--outline-color);
    }
}

.growla-block-slider-2-wrapper {
    .swiper-slide {
        padding: .2rem;
    }
}