.growla-counter {
    &-value {
        width: 100%;
        border: .3rem solid var(--color-primary);
        padding: .5rem 3rem .7rem 3rem;

        font-size: 6rem;
        font-weight: 500;
    }

    &-text {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 3rem;
        margin-top: 2rem;
    }
}