// heading
@import 'heading';
@import 'block-slider';
@import 'block-slider-2';
@import 'slider';
@import 'testimonial';
@import 'testimonial-2';
@import 'client';
@import 'accordion';
@import 'tabs';
@import 'team-member';
@import 'team-member-2';
@import 'image-box';
@import 'icon';
@import 'progress-bar';
@import 'counter';
@import 'hero-slider';
@import 'video';
@import 'masonry';
@import 'template';
@import 'image';
@import 'animations';
@import 'logo';
@import 'list';
@import 'gallery';
@import 'image-carousel';
@import 'illustration';
@import 'tabs-2';
@import 'collapse-tab';
@import 'award';
@import 'icon-box';
@import 'contact-form-tab';
@import 'full-screen-menu';
@import 'block-grid';
@import 'block-grid-2';