.r-image {
    height: 100%;
    border-radius: inherit;

    &-inner {
        position: absolute;
        border-radius: inherit;
    } 

    img {
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        border-radius: inherit !important;
    }
}