.growla-progress-bar {
    background-color: var(--color-dark-2);
    padding: 1.3rem 3rem 2rem 3rem;

    &--header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 1.1rem;

        span {
            font-size: 1.8rem;
            font-weight: 500;
        }
    }

    &--value {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--color-primary);       
    }

    &--bar {
        width: 100%;
        height: .6rem;
        background-color: var(--color-dark-3);
        border-radius: 3rem;
        overflow: hidden;
    }

    &--actual {
        width: 100%;
        height: 100%;
        background-color: var(--color-primary);
        border-radius: inherit;
        transform: translateX(-100%);

        [dir="rtl"] & {
            transform: translateX(100%);
        }
    }
}
