.team-member-2 {
    background-color: var(--color-dark-2);
    padding: 1.7rem 1.7rem 3.5rem 1.7rem;
    border: .3rem solid transparent;
    transition: all var(--anim-duration) ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &-image {
        max-width: 100%;
        height: 35.3rem;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-small-thumbnail {
        width: 8rem;
        height: 8rem;

        position: absolute;
        bottom: 1.6rem;
        left: 1.6rem;

        transform: translateX(calc( -1 * ( 100% + 1.6rem ) ));

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-content {
        width: 80%;
        margin: 0 auto;

        &-inner-2 {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            padding-bottom: 3rem;
            transform: translateY(3rem);
        }

        &-inner-1 {
            padding-top: 3rem;
            padding-bottom: 2rem;

            display: flex;
            flex-direction: column;
        }

        h4 {
            display: inline;
            margin: 0 auto;
        }

        p.mini-paragraph {
            display: inline;
            margin: 0 auto;
        }

        ul {
            margin: 2.5rem 0 0 0;
            padding: 0;

            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

        }

        li {
            list-style: none;
            width: 4.3rem;
            height: 4.3rem;
            border-radius: 50%;
            background-color: var(--color-dark-1);
            color: var(--color-grey);
            fill: var(--color-grey);
            display: inline-block; 
            transition: all var(--anim-duration) ease;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: inherit;
                font-size: 1.8rem;
                border-radius: inherit;
                padding: 10px;
                fill: inherit;

                * {
                    max-width: 90%;
                }
            }

            &:hover,
            &:focus {
                color: var(--color-black);
                fill: var(--color-black);
                background-color: var(--color-primary);
            }

            @media (max-width: 991px) {
                width: 3.5rem;
                height: 3.5rem;

                a {
                    font-size: 1.4rem;
                }
            }

        }
    }

    &-icon {
        position: relative;

        text-align: center;
        padding-top: 3rem;

        &-border {
            --animated-border-width: calc( 100% - 9rem );
            width: 100%;
            height: .1rem;
            background-color: var(--color-border);

            position: absolute;
            top: 0;
            right: 0;
        }

        svg {
            height: 2.9rem;
            fill: var(--color-primary);
        }

        .active-icon {
            position: absolute;
            top: calc( 50% + 1.5rem );
            left: 50%;
            transform: translate(-50%, -50%);

            opacity: 0;
            visibility: hidden;
        }
    }

    &:hover {
        border-color: var(--color-primary);
    }

    @media (max-width: 991px) {
        &-image {
            width: 100%;

            img {
                object-position: top;
            }
        }
    }
}