.testimonial-slide-2 {
    position: relative;
    background-color: var(--color-dark-2);
    padding: 4rem 5rem;
    outline: .2rem solid transparent;
    transition: all var(--anim-duration) ease;

    p {
        font-size: 2.4rem;
        line-height: 3.4rem;
        color: var(--color-white);
    }

    &--details {
        border-top: 1px solid var(--color-border);
        margin-top: 3rem;
        padding-top: 2rem;
    }

    h5 {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 3rem;
        color: var(--color-primary);
    }

    h6 {
        font-size: 1.8rem;
        line-height: 3rem;
        color: var(--color-paragraph);
    }

    .icon {
        width: 5.4rem;
        height: 5.4rem;
        background-color: var(--color-primary);

        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            height: 2.2rem;
            fill: var(--color-black);
        }
    }

    &:hover {
        outline-color: var(--color-primary);
    }
}

.testimonial-slider-2 {
    .swiper-slide {
        padding: .2rem;
    }
}