%field-type {
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--color-paragraph);
	border-radius: none;
	border: none !important;
	border-bottom: 1px solid var(--color-grey) !important;
	background-color: transparent;

	@include animateIt;

	&:focus,
	&:focus-visible {
		box-shadow: none;
		border-color: var(--color-primary);
		outline: none;
	}
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
	@extend %field-type;
	height: 4.8rem;
}

textarea {
	@extend %field-type;
	width: 100%;
	resize: none;
	max-height: 100%;
	padding: .375rem .75rem;

	&.wpcf7-textarea {
		height: 15rem;
	}
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
    border: none;
}