%invalid-bg {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ff9f00'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}

.wpcf7 {
    margin-top: -2rem;

    br {
        display: none;
    }

    button {
        z-index: 1;
    }

    .form-control,
    .wpcf7-form-control {
        margin-top: 2rem;
    }

    .wpcf7-not-valid {
        @extend %invalid-bg;
        padding-right: calc(1.5em + 0.75rem);
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

    .wpcf7-not-valid-tip {
        display: none;
    }

    .wpcf7 form .wpcf7-response-output {
        width: 100%;
        background-color: var(--color-primary);
        border: none;
        border-radius: var(--border-radius);

        color: var(--color-white);
        font-size: 1.4rem;
        font-weight: 500;
        text-align: left;

        padding: 2rem 2rem 1.7rem 2rem;
        margin-left: 0;
    }

    .wpcf7 form.invalid .wpcf7-response-output {
        background-color: var(--color-warning);
    }

    .wpcf7 form.failed .wpcf7-response-output {
        background-color: var(--color-error);
    }

    .wpcf7 form.success .wpcf7-response-output {
        background-color: var(--color-success);
    }
}

.footer-form {
    position: relative;
    .icon-submit-1 {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
    }

    br {
        display: none;
    }

    .form-control {
        background-position: right 2.2rem center;
    }

    .wpcf7-not-valid {
        background-image: unset;
        background-position: right 2.2rem center;
        background-size: 2rem 2rem;
    }
}

.wpcf7 form.invalid .footer-form {
    .icon-submit-1 {
        opacity: 0;
    }

    .wpcf7-not-valid {
        @extend %invalid-bg;
    }
}

.wpcf7-spinner {
    display: none;
}

.form {
    &-control {
        position: relative;
        height: 5rem;
        width: 100%;
    }

    &-label {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        color: var(--color-paragraph);
        @include animateIt;
        font-size: 1.6rem;
        text-align: left;
    }

    &-input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 1rem 1rem 1rem 1rem;
        resize: none;
        border: none;
        border-bottom: 1px solid var(--color-grey-1);
        outline: none;

        font-family: inherit;

        color: var(--color-white);
        background: transparent;

        @include animateIt;
        font-size: 1.6rem;

        text-align: left;

        &::placeholder {
            opacity: 0;
            visibility: hidden;
            color: transparent;
        }

        &:focus {
            border-color: var(--color-primary);
        }

        &:focus ~ .form-label,
        &:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {
            top: -0.5rem;
            font-size: 1.2rem;
            z-index: 9;
            transition: all 0.2s ease;
        }
    }

    &-areas {
        resize: none;
        max-width: 100%;
        min-height: 15rem;
        max-height: 30rem;

        .form-label {
            top: 2rem;
        }
    }
}

.growla-select {
    z-index: 10;
    position: relative;

    select {
        opacity: 0;
        visibility: hidden;
    }

    .ts-control {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--color-grey-1);
        border-radius: 0;
        padding: 1.5rem 1rem;
        font-size: 1.6rem;

        [dir='rtl'] & {
            flex-direction: row-reverse;
        }

        input:not([type='submit']):not([type='checkbox']):not([type='radio']) {
            height: unset !important;
            border: none !important;

            [dir='rtl'] & {
                text-align: left;
            }
        }

        input,
        .item {
            font-size: 1.6rem;
            color: var(--color-paragraph);

            &::placeholder {
                color: var(--color-paragraph);
            }
        }

        &::after {
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23999999" viewBox="0 0 24 24"><title>chevron-down</title><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg>');
            width: 2rem;
            margin-right: 1rem;
            margin-left: auto;

            [dir='rtl'] & {
                margin-left: 1rem;
                margin-right: 0;
            }
        }
    }

    .input-active {
        .ts-control {
            border-color: var(--color-primary);
            background-color: transparent !important;

            &::after {
                content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23999999" viewBox="0 0 24 24"><title>chevron-up</title><path d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" /></svg>');
            }
        }
    }

    .ts-dropdown {
        border: none;
        background-color: var(--color-black);
        color: var(--color-paragraph);
        box-shadow: 0px 10px 5px 0px rgba(255, 255, 255, 0.01);
        margin-top: 1rem;

        @include animateIt;

        .option {
            font-size: 1.6rem;
            padding: 1rem 2rem;
        }

        .ts-dropdown-content div {
            @include animateIt;
            text-align: left;
        }

        .active,
        .ts-dropdown-content div:hover {
            background-color: var(--color-primary);
            color: var(--color-black);
        }
    }
}

.growla-contact-form-row {
    display: flex;
    gap: 3rem;

    @media only screen and (max-width: 991px) {
        flex-direction: column;
        gap: 0;
    }
}

.growla-contact-form-column {
    flex: 1;
}

.growla-file-upload {
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.24rem 0 1.25rem 0.8rem;

    border-bottom: 1px solid var(--color-border);

    font-size: 1.6rem;
    color: var(--color-paragraph);

    input {
        display: none;
    }

    .select-wrapper {
        color: var(--color-primary);
        font-weight: 600;
        @include animateIt;
    }
}
