.table-wrapper {
	border-radius: calc( var(--border-radius) / 2 );
	max-width: 100%;
	overflow: auto;
}

.table-outer-wrapper {
	> caption {
		display: block;
	}
}

.wp-block-table.is-style-stripes .table-wrapper {
    border-color: var(--color-stripe-table-row);
}

.wp-block-table {
    
    thead {
        border: none;
    }

    tfoot {
        border-color: var(--color-dark-1);
    }
}

.wp-block-calendar tbody td, .wp-block-calendar th {
	padding: 1rem 1rem .4rem 1rem;
}

table {
	width: 100%;
	max-width: 100%;
	
	word-break: normal !important;
	* {
		word-break: normal !important;
	}

	border-style: hidden;

	th,
	td {
		border: 1px solid var(--color-dark-1) !important;
		padding: 1rem;
	}

	th {
		border: none !important;
		padding: 1rem 1rem .4rem 1rem;
	}

	td {
		background-color: var(--color-dark-2);
	}

	thead {
		th {
			background-color: var(--color-primary);
			font-weight: 700;
			color: var(--color-black);
			a {
				color: inherit;
			}
		}
	}
	th,
	td {
		a {
			color: var(--color-dark);
			@include animateIt;
			&:hover {
				color: var(--color-dark);
			}
		}
	}

	thead {
		th {
			font-size: 1.4rem;
			font-weight: 700;
			color: var(--color-black);
			background: var(--color-primary) !important; // override wordpress's defaults
		}
	}

	tbody {
		td, th {
			font-size: 1.2rem;
			font-weight: 600;
			color: var(--color-paragraph);

            a {
                font-size: inherit !important;
            }
		}
		th {
			border: 1px solid var(--color-dark-1);
            background-color: var(--color-dark-1);
		}
		tr {
			height: 3rem;
		}
	}
}