.selectify {
    max-width: 100%;
    position: relative;

    .active {
        display: block;
        padding: 2rem;
        max-width: 100%;

        font-size: 1.8rem;
        font-weight: 600;
        color: var(--color-dark);

        background-color: var(--color-dark-2);
        cursor: pointer;
        
        * {
            pointer-events: none;
        }

        &-wrapper {
            position: relative;
        }

        &-wrapper .arrow-icon {
            width: 18px;
            height: 18px;

            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;

            fill: var(--color-paragraph);
            pointer-events: none;

            svg {
                width: 100%;
                height: 100%;
                vertical-align: top;
                fill: inherit;
            }

            transform-origin: center;
            @include animateIt;
        }

    }

    ul {
        position: absolute;
        top: 120%;
        opacity: 0;
        visibility: hidden;

        max-height: 50rem;
        
        width: 100%;
        border-radius: var(--border-radius);
        background-color: var(--color-dark-2);
        list-style: none;
        pointer-events: none;
        z-index: 999999;
        margin: 1rem 0 0 0;
        padding: 2rem 0;

        font-size: 1.8rem;
        color: var(--color-black);

        box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.1);

        @include animateIt;


        li {
            padding: 1.5rem 2rem;
            cursor: pointer;
            @include animateIt;

            color: var(--color-paragraph);

            margin: 0 .75rem;
            border-radius: var(--border-radius);

            display: flex;
            align-items: center;

            line-height: 1;

            * {
                pointer-events: none;
            }

            &:hover,
            &:focus {
                background-color: var(--color-white);
            }

            &.selected {
                background-color: var(--color-dark-2);
                font-weight: 600;
                color: var(--color-white);
            }

        }
    }

    &-wrapper {
        select {
            height: 0;
        }
    }
    
    &.shown {

        .active-wrapper .arrow-icon {
            transform: translateY(-50%) rotate(180deg);
        }

        ul {
            top: 100%;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

}