%vertical-project {
    flex-direction: column;
    .project-content {
        text-align: center;
        flex-direction: column;
        padding-top: 5rem;
        padding-bottom: 7rem;

        gap: 2rem;

        .categories {
            display: block;
        }

        @media only screen and (max-width: 991px) {
            padding: 3rem;
        }
    }
}

.project-list {
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        &.project-list-vertical {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3rem;

            @media only screen and (max-width: 767px) {
                grid-template-columns: 1fr;
            }

            .project-single {
                @extend %vertical-project;
            }
        }

        &.project-list-horizontal {
            .project-content {
                padding-top: 5rem !important;
                padding-bottom: 7rem !important;
            }
        }
    }

    &-header {
        margin-bottom: 9rem;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media only screen and (max-width: 991px) {
            flex-direction: column;
            margin-bottom: 3rem;
            align-items: initial;
        }

        .growla-heading {
            flex: 0.6;

            @media only screen and (max-width: 991px) {
                flex: 1;
            }
        }
    }

    &-layout {
        &-switcher {
            display: flex;
            justify-content: flex-end;
            flex: 0.4;

            @media only screen and (max-width: 991px) {
                justify-content: flex-start;
                flex: 1;
                width: 100%;
            }

            svg {
                fill: inherit;
                height: 2.4rem;
            }
        }

        &-horizontal,
        &-vertical {
            cursor: pointer;
            @include animateIt;

            padding: 1rem;

            fill: var(--color-paragraph);

            &:hover,
            &.project-list-layout-active {
                fill: var(--color-primary);
            }
        }
    }
}

.project-single {
    width: 100%;

    display: flex;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }

    .post-thumbnail {
        width: 100%;
        min-height: 45.6rem;
        max-height: 45.6rem;
        flex: 1.3;

        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: all var(--anim-duration) ease;
        }

        @media only screen and (max-width: 991px) {
            min-height: 3rem;
        }
    }

    .project-icon {
        position: absolute;
        bottom: 0;
        right: 0;

        [dir='rtl'] & {
            right: 0;
        }

        width: 5.6rem;
        height: 5.6rem;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--color-dark-1);

        font-size: 2rem;
        color: var(--color-white);

        transition: all var(--anim-duration) ease;

        svg {
            fill: var(--color-paragraph);
            width: 2.5rem;
            transition: inherit;

            [dir='rtl'] & {
                transform: rotate(180deg);
            }
        }
    }

    .project-content {
        position: relative;

        padding: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        flex: 1;

        background-color: var(--color-dark-2);

        gap: 2rem;

        h4 {
            color: var(--color-white);
            width: 70%;

            @media only screen and (max-width: 991px) {
                width: 90%;
            }
        }
    }

    &-vertical {
        @extend %vertical-project;
    }

    &:hover,
    &:focus {
        .project-icon {
            background-color: var(--color-primary);

            svg {
                fill: var(--color-black);
            }
        }

        .post-thumbnail img {
            transform: scale(1.1);
        }
    }
}

.load-more-row {
    margin-top: 5rem;
    text-align: center;
}
