/*
Theme Name: Growla Child
Theme URI: https://gfxpartner.com/growla-1
Author: GFXPARTNER
Author URI: https://themeforest.net/user/gfxpartner
Description: Growla is the best Creative Multipurpose WordPress Theme.
Version: 1.0.0
Template: growla
*/

