h1 {
    font-size: 7rem;
    line-height: 1.28;
    font-weight: 400;

    @media only screen and (max-width: 991px) {
        font-size: 4.5rem;
        line-height: 1.6;
    }

    @media only screen and (max-width: 767px) {
        font-size: 3rem;
        line-height: 1.6;
    }
}

h2 {
    font-size: 5rem;
    line-height: 1.4;
    font-weight: 400;

    @media only screen and (max-width: 991px) {
        font-size: 3rem;
        line-height: 1.6;
    }
}

h3 {
    font-size: 4rem;
    font-weight: 400;

    @media only screen and (max-width: 991px) {
        font-size: 2.5rem;
        line-height: 1.6;
    }
}

h4 {
    font-size: 3rem;
    line-height: 1.46;
    font-weight: 500;

    @media only screen and (max-width: 991px) {
        font-size: 2.5rem;
        line-height: 1.6;
    }
}

h5 {
    font-size: 2.8rem;
    font-weight: 500;
}

h6 {
    font-size: 2.6rem;
    font-weight: 500;
}

.h7 {
    font-size: 2.7rem;
    font-weight: 500;
}

.h8 {
    font-size: 2rem;
    font-weight: 500;
}

.mini-heading-01 {
    font-size: 2rem;
    font-weight: 600;
}

.mini-heading-02 {
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 0.04rem;
}

%paragraph {
    font-size: var(--paragraph-size);
    font-weight: var(--paragraph-weight);
    line-height: var(--paragraph-line-height);
    color: var(--color-paragraph);
}

a {
    color: var(--color-primary);
}

p {
    @extend %paragraph;

    a {
        color: var(--color-primary);
        text-underline-offset: 2px;
    }
}

p.mini-paragraph {
    font-size: 1.4rem;
    line-height: 2;
}

// this is the fix for Elementor text editor widget custom styles not working
.elementor-widget-text-editor {
    @extend %paragraph;
    * {
        font-size: inherit !important;
        line-height: inherit !important;
        font-weight: inherit !important;
        color: inherit !important;
    }
}

pre {
    @extend %paragraph;
    color: var(--color-white);
}

code,
ins {
    @extend %paragraph;
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-dark-2) !important;
    padding: 0.5rem 1rem;
}

address {
    @extend %paragraph;
    font-style: italic;
}

strong {
    color: var(--color-dark);
}

%logo-text {
    &.logo-text {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        color: var(--color-white);
    }

    a {
        color: inherit;
    }
}

.has-drop-cap:first-letter {
    @media (max-width: 991px) {
        font-size: 4.5rem !important;
    }
}

.has-background {
    border-radius: var(--border-radius);
}

.wp-block-preformatted {
    white-space: revert;
}

@import 'copy';

.wp-block-media-text__content {
    color: var(--color-paragraph) !important;
}

.wp-block-button__link {
    background-color: var(--color-primary);
}
