.comments-title {
    font-size: 5rem;
    font-weight: 400;
    line-height: 1;
    color: var(--color-white);
    margin-bottom: 4.5rem;
    @media (max-width: 991px) {
        margin-bottom: 0;
    }

    &::after {
        content: '';
        display: block;

        width: 7.8rem;
        height: .3rem;

        margin-top: 1rem;

        background-color: var(--color-primary);
    }
}

.comment-list {
    margin: 0;
    padding: 0;

    @media (max-width: 991px) {
        margin-top: 4rem;
        .container {
            padding: 0;
        }
    }

    .comment-reply-title {
        font-size: 2.5rem;
        line-height: 4.5rem;
    }

    .parent--comment {
        display: flex;
        gap: 3.8rem;
        border-bottom: 1px solid var(--color-grey-1);
        padding-bottom: 3.9rem;

        @media (max-width: 500px) {
            display: block;
        }

        @media (max-width: 991px) {
            padding-bottom: 3rem;
        }
    }

    .comment,
    .children {
        position: relative;

        &:not(:first-child) {
            margin-top: 5rem;
            @media (max-width: 991px) {
                margin-top: 2.5rem;
            }
        }

        .comment {

            .parent--comment {
                padding-left: 15%;
            }

            margin-top: 5rem;

            @media (max-width: 991px) {
                margin-left: 3.5%;
                .parent--comment {
                    padding-left: 2.5%;
                }
            }
            
        }

        .comment-inner-wrapper {
            margin-bottom: 2rem;
        }

        @media (max-width: 991px) {
            .comment--content > *:not(.comment-inner-wrapper):not(.reply-button):not(.parent--comment) {
                margin-left: 0;
            }
            .comment-inner-wrapper {
                margin-bottom: 0rem;
            }
        }

        &--avatar {
            border-radius: 50%;
            height: 10rem;
            max-width: 10rem;
            flex: 1;

            img {
                border-radius: inherit;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
            @media (max-width: 500px) {
                margin-bottom: 2rem;
            }
        }

        &--content {
            flex: 1;
            max-width: calc( 100% - 13.8rem );

            @media (max-width: 500px) {
                max-width: 100%;
            }

            @extend %default-headings;

            > h2 {
                margin-bottom: -1rem;
            }

            > h2:nth-child(n+2) {
                margin-top: 2rem;
            }

            > *:nth-child(n+2) {
                margin-top: 1.5rem;
            }

            img {
                border-radius: var(--border-radius);
            }
            
            a {
                text-decoration: none;
                color: var(--color-primary);
            }

            .name {
                font-size: 1.8rem;
                line-height: 3rem;
                font-weight: 500;
                color: var(--color-white);
                letter-spacing: .2rem;
                position: relative;
                width: max-content;
                @include animateIt;
                text-decoration: underline !important;
                text-decoration-color: transparent !important;
                text-underline-offset: 5px;

                &:hover {
                    text-decoration-color: var(--color-primary) !important;
                    text-decoration-thickness: 2px !important;
                }
            }

            .date {
                font-size: 1.4rem;
                line-height: 2rem;
                font-weight: 500;
                color: var(--color-paragraph);
                letter-spacing: initial;
                background: none;
                text-align: left;
            }

            p a {
                color: var(--color-primary);

                &:hover,
                &:focus,
                &:active {
                    color: var(--color-white);
                }
            }

            .reply-button {

                a {
                    @extend %button;
                    border: none;
                    width: auto;
                    color: var(--color);
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    letter-spacing: .4rem;
                    padding: 0;

                    background-color: transparent;

                    @include animateIt;

                    &::before {
                        display: none;
                    }
                    
                    &:hover,
                    &:focus,
                    &:active {
                        color: var(--color-white);
                    }
                }

            }
        }

        &:last-child:not(:nth-child(-n+2)) {
            .parent--comment {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }

    .pingback, .trackback {
        .name {
            max-width: 100%;
            line-height: 4rem;
        }

        .parent--comment {
            padding-bottom: 0;
        }
    }
}

.comments-area {
    padding-top: 14.3rem;
    
    @media (max-width: 991px) {
        padding: 50px 50px 44px 50px;
    }

    @media (max-width: 767px) {
        padding: 50px 25px 44px 25px;
    }
}