.widget {
	&:not(:last-child) {
		margin: 0 0 3rem 0;
	}
	background-color: var(--color-dark-2);

	padding: 3.8rem;

	@media (max-width: 991px) {
		padding: 2rem 2.5rem;
	}

	* {
		word-break: break-word;
	}

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}

	// widget title
	&-title, h1, h2, h3, h4, h5, h6 {
		font-size: 2.4rem;
		font-weight: 600;
		line-height: 1.5;
		color: var(--color-dark);

		* {
			line-height: inherit;
		}

		margin-bottom: 2.5rem;

		&::after {
			content: '';
			width: 4.3rem;
			height: .2rem;
			display: block;
			margin-top: 1rem;
			background-color: var(--color-primary);
		}
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			
			@include animateIt;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			font-size: 1.2rem;
			font-weight: 500;
			color: var(--color-paragraph);

			a {
				font-size: 1.6rem;
				font-weight: 600;
				color: var(--color-dark);
				display: flex;
				padding: 1.2rem 0;
				flex: 1;
				position: relative;
				text-transform: capitalize;
				// to prevent the element from touchhing the counters at the right side
				padding-right: 1rem; 
				@include animateIt;

				text-decoration: underline;
				text-underline-offset: 2px;
				text-decoration-color: transparent;

				&::before {
					content: '';
					position: relative;
					// top: 50%;
					top: 13px;
					left: 0;
					display: inline-block;
					width: 4px;
					height: 4px;
					transform: translateY(-50%);
					margin-right: 1.5rem;
					border-radius: 50%;
					background-color: var(--color-primary);
					@include animateIt;
				}
			}

			.children {
				width: 100%;
			}

			a:hover, a:focus, a:active {
				color: var(--color-white);
				text-decoration-color: var(--color-white);
			}

			&:last-child {
				padding-bottom: 0;
			}

			// li inside li
			li {
				border-top: 1px solid var(--color-dark-1);

				a::before {
					border-radius: 0;
                    transform: translateY(-50%) rotate(45deg);
				}

				// li inside li inside li
				li {
					a::before {
						border-radius: 0;
						transform: translateY(-50%) rotate(0deg);
					}
				}
			}

		}

		ul {
			margin: 0;

			ul li a,
			a {
				padding-left: 10%;
			}

			ul li a {
				padding-left: 15%;
			}

		}
	}

	.wp-block-group__inner-container > ul > li:nth-child(n+2),
	.wp-block-group__inner-container > ol > li:nth-child(n+2),
	> ul > li:nth-child(n+2),
	> ol > li:nth-child(n+2) {
		border-top: 1px solid var(--color-dark-1);
	}

	.gallery {
		margin-bottom: 0;
	}

	table, table * {
		word-break: normal;
	}

	img {
		border-radius: calc( var(--border-radius) / 2 ) !important; // overriding elementor with !important
	}
}

.widget,
.widget_block,
.widget_nav_menu > div > ul,
.wp-block-latest-posts {
	> li > a::before,
	> ul > li > a::before {
		display: none !important;
	}

}

%bullet_alt_styles {
	&::before {
		position: absolute;
		top: calc( 1.5rem + 11px );
		transform: none;
	}

	padding: 1.5rem 0 1.5rem calc( 1.5rem + 4px );
} 

%search_field {
	position: relative;
	border-radius: var(--border-radius);

	input {
		width: 100%;
		border-bottom: none !important;
		padding: 0 5rem 0 3rem;
		border-radius: var(--border-radius);

		font-size: 1.4rem;
		font-weight: 500;
		color: var(--color-paragraph);
	}
	
	input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
		height: 6rem;

        background-color: var(--color-dark-2);
        border: none !important;

        font-size: 16px;
        
        &:focus-visible {
            outline: 2px solid var(--color-primary);
        }
	}

	button {
		position: absolute;
		top: 50%;
		right: 3rem;
		transform: translateY(-50%);

        padding: 0;
        width: initial;
        border: none;

		font-size: 1.6rem;
		color: var(--color-primary);

        &::before {
            display: none;
        }

        svg {
            width: 20px;
            fill: var(--color-primary);
        }
	}
}

// search widget
.widget {

	&.widget_search {
		padding: 0;
	}

	.search {
		@extend %search_field;
	}
}

// text widget
.widget.widget_text {
	padding: 3.8rem 3.8rem 3.4rem 3.8rem;
	p:last-child {
		margin-bottom: 0;
	}	
}

// menu widget
.widget.widget_nav_menu {
	// list
	ul {
		// list item
		li {
			display: block;
			
			&:hover {
				a {
					color: unset;
					text-decoration: none;
				}
			}

			// anchor
			a {
				.icon {
					display: none;
				}

				&:hover {
					color: var(--color-primary);
					text-decoration: underline;
				}
			} // anchor - end
		} // list item - end

		// submenu
		&.sub-menu {
			margin-left: 0;
			li {
				border-top: 1px solid var(--color-dark-1);
				padding-left: 1rem;
			}
		} // submenu - end

	} // list - end
}

// contact form
.widget.growla-form-widget {
	background-color: var(--color-dark-2);


	& .widget {
		&-title {
			font-size: 2rem;
			text-align: center;
			color: var(--color-white);
            margin-bottom: 3.5rem;

			&::after {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

    .growla-form-widget-icon {
        background-color: var(--color-primary);
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;

        margin: 0 auto 2.7rem auto;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 4rem;
            object-fit: contain;
        }
    }
}

// bullet point reset for some widgets
.widget.widget_categories,
.widget.widget_archive,
.wp-block-categories,
.wp-block-archives {
	> li > a::before,
	> ul > li > a::before {
		display: none !important;
	}
}

.widget.widget_archive {
	a {
		text-decoration: none;
	}
}

// calendar widget
.widget.widget_calendar,
.wp-block-calendar {
	overflow: hidden;
	// reducing the global padding from 3.8rem to 3.7rem because it shows a scrollbar due to 1px.
	padding: 3.6rem;

	@media (max-width: 991px) {
		padding: 2rem;
	}

	table {

		thead {
			th {
				text-align: center;
				// border-color: var(--color-dark);
			}
		}
		tbody {
			td {
				text-align: center;
			}
			td:not(#today) {
				a {
					position: relative;
					text-decoration: none;

                    font-size: inherit;
					&::after {
						content: '';
						position: absolute;
						display: block;
						bottom: -0.5rem;
						left: 50%;
						transform: translateX(-50%);
						width: calc(100% + 1.2rem);
						height: 0.2rem;
						background-color: transparent;
						@include animateIt;
					}
					&:hover {
						color: var(--color-dark);
						&::after {
							background-color: var(--color-primary);
						}
					}
				}
			}
		}
		#today {
			color: var(--color-white);
		}
	}

	caption {
		caption-side: initial;
		font-size: 1.5rem;
		line-height: 3rem;
		font-weight: 500;
		margin: 0;
		color: var(--color-dark);
		font-weight: 700;
	}

	.wp-calendar-nav {
    	margin-top: 1rem;
    	display: flex;
    	justify-content: space-between;
		a {
			font-size: 1.4rem;
			font-weight: 500;
			color: var(--color-paragraph);
			text-decoration: none;
			@include animateIt;
			position: relative;
			&:hover {
				color: var(--color-dark);
				font-weight: 700;
			}
		}
	}
}

// comment widget
.widget.widget_recent_comments, .wp-block-latest-comments {
	li {
		display: block;
		font-size: 1.6rem;
		font-weight: 500;
		color: var(--color-paragraph);
		line-height: 2.8rem;
		margin: 0;
		span {
			color: var(--color-dark);
			font-weight: 700;
		}
		a {
			font-size: inherit;
			color: var(--color-dark);
			font-weight: 700;
			text-decoration: none;

			&::before {
				display: none;
			}
		}
		&:nth-child(n + 2) {
			margin-top: 1.7rem;
			padding-top: 2rem;
		}

		&:hover,
		&:focus,
		&:active {
			a {
				text-decoration: none;
			}
		}
	}
}

// recent posts widget
.widget.growla-recent-posts {
	.recent-posts-single {
		list-style: none;

		h6 {
			&::after {
				display: none;
			}
		}

		&--thumbnail {
			width: 7rem;
			height: 7rem;
			border-radius: calc( var(--border-radius) / 2 );
			position: relative;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				border-radius: inherit;
				object-fit: cover;
			}

			.hover {
				width: 100%;
				height: 100%;
	
				position: absolute;
				top: 0;
				left: 0;
	
				opacity: 0;
				visibility: hidden;
	
				display: flex;
				justify-content: center;
				align-items: center;
	
				background-color: rgba(00,00,00,.2);
				@include animateIt;
	
				svg {
					fill: var(--color-white);
					height: 2.5rem;

                    @include animateIt;

                    transform: translateY(15px);
				}
	
			}
		}

		a {
			display: flex;
			align-items: center;
			gap: 2rem;

			text-decoration: none;
			
			&::before {
				display: none;
			}

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;

				.hover {
					opacity: 1;
					visibility: visible;

                    svg {
                        transform: translateY(0);
                    }
				}
			}
		}

		&--content {
			flex: 1;
			h6 {
				font-size: 1.6rem;
				font-weight: 600;
				color: var(--color-dark);
				line-height: 2.6rem;
				margin-bottom: 0;
			}
		}

		@media (max-width: 991px) {
			a {
				flex-direction: column;
				align-items: flex-start;
			}
		}

	}
}

// archives widget
.widget.widget_archive {
	li {
		a {
			text-transform: uppercase;
			display: block;

			sup {
				font-weight: 600;
				margin-left: .4rem;
				font-size: 1rem;
			}

			&::before {
				top: 50%;
			}

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;

				span {
					text-decoration: underline;
				}
				
				sup {
					text-decoration-color: transparent;
				}
			}
		}
	}
}

// rss widget
.widget.widget_rss {

	.widget-title {
		a {
			color: inherit;
		}
	}

    li {
		display: block;
		
        a {
            display: block;
            text-decoration: none;
			padding: 2.5rem 0 0 0;

			&::before {
				display: none;
			}

        }

		.rsswidget {
			font-size: 1.8rem;
		}

        .rss-date {
            font-size: 1.2rem;
            display: block;
			margin: 1rem 0;
        }

		.rssSummary {
			@extend %paragraph;
		}

		&:hover,
		&:focus,
		&:active {
			a {
				text-decoration: none;
			}
		}

		&:first-child {
			a {
				padding-top: 0;
			}
		}

		&:not(:first-child) {
            margin-top: 2rem;
        }

    }
}

// tag widget
.widget.widget_tag_cloud,
.wp-block-tag-cloud {

	.tagcloud {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	a {
        display: inline-block;
		padding: 1rem 2rem;
        font-size: 1.5rem !important;
        font-weight: 500;
        background-color: var(--color-grey-1);
        color: var(--color-paragraph);
        @include animateIt;
        &:hover {
            background-color: var(--color-primary);
            color: var(--color-black);
        }
    }
}

.wp-block-tag-cloud {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.wp-block-latest-comments {
	padding-left: 0; // it is a list.
}

.widget_block.widget_search {
	background-color: transparent;
}

.wp-block-search {
	&__label {
		font-size: 1.6rem;
		font-weight: 500;
		color: var(--color-paragraph);
	}

	&__inside-wrapper {
		display: block;
	}

	&__input {
		width: 100%;
		// display: block;
	}

	&__button {
		@extend %button;
		width: 100%;
		text-transform: uppercase;
		margin: 2rem 0 0 0;

        &::before {
            display: none;
        }

        &:hover,
        &:focus,
        &:active {
            --color: var(--color-white);
            
        }
	}
}

.widget_recent_entries {
	ul li a {
		@extend %bullet_alt_styles;
		padding-left: 0;
	}
}

.widget_media_audio {
	padding: 0;
	background-color: unset;
}