$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

:root {
    --color-primary: #ffd800;

    --color-white: #ffffff;
    --color-black: #000000;

    --color-dark-1: #252525;
    --color-dark-2: #151515;
    --color-dark-3: #292929;

    --color-border: #444444;

    --color-grey: #4e4e4e;
    --color-grey-1: #333333;
    --color-grey-2: #949494;

    --color-paragraph: #999999;

    --color-error: #d74546;
    --color-warning: #ff9f00;
    --color-success: #61b931;

    --scrollbar-track: var(--color-black);
    --scrollbar-thumb: var(--color-primary);
    --scrollbar-thumb-hover: var(--color-primary);

    --color-white-rgba-10: rgba(255, 255, 255, 0.1);

    --anim-duration: 0.5s;
}

.main-wrapper {
    position: relative;
    background-color: black;
    z-index: 2;
}
