.illustration-boxes-2 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    &-item {
        position: absolute;

        opacity: 0;
        visibility: hidden;

        &--filled {
            background-color: var(--color-primary);
        }

        &--border {
            border: .3rem solid var(--color-primary);
        }

        &--border-thick {
            border: .6rem solid var(--color-primary);
        }

        &--hide-in-mobile {
            @media only screen and (max-width: 991px) {
                display: none;
            }
        }

        &--1 {
            top: 12.3rem;
            left: 9.1rem;

            width: 2.1rem;
            height: 2.1rem;
        }

        &--2 {
            width: 9.7rem;
            height: 9.7rem;

            left: 10rem;
        }

        &--3 {
            width: 18.8rem;
            height: 18.8rem;

            top: 5.8rem;
            left: -4.4rem;
        }

        &--4 {
            width: 4rem;
            height: 4rem;

            left: 4rem;
            bottom: 6rem;
        }

        &--5 {
            width: 6rem;
            height: 6rem;

            top: -8rem;
            left: -8rem;
        }

        &--6 {
            width: 30.2rem;
            height: 30.2rem;
        }

        &--7 {
            width: 9.7rem;
            height: 9.7rem;

            top: 6.2rem;
            left: -7.2rem;
        }
        
        &--8 {
            width: 18.8rem;
            height: 18.8rem;

            top: -7.3rem;
        }

        &--9 {
            width: 2.1rem;
            height: 2.1rem;

            top: 6.1rem;
            left: calc( 18.8rem + 3.2rem );
        }

        &--10 {
            width: 6.2rem;
            height: 6.2rem;
        }

        &--11 {
            width: 17.8rem;
            height: 17.8rem;

            top: 7.4rem;
            left: 7.7rem;
        }

        &--12 {
            width: 26.4rem;
            height: 26.4rem;

            top: 10.4rem;
            left: 17.6rem;
        }

        &--13 {
            width: 2.2rem;
            height: 2.2rem;

            top: 30rem;
            left: 7.7rem;
        }

        &--14 {
            width: 17.8rem;
            height: 17.8rem;

            top: -15.2rem;
            right: 2.5rem;
        }

        &--15 {
            width: 2.1rem;
            height: 2.1rem;

            top: 8rem;
            right: 23rem;
        }

        &--16 {
            width: 48.2rem;
            height: 48.2rem;

            top: 14rem;
            right: -21.9rem;
        }

        &--17 {
            bottom: 4rem;
            right: 6rem;

            width: 2.1rem;
            height: 2.1rem;
        }

        &-wrapper {
            position: absolute;

            &--1 {
                top: 30%;
                left: 0;
                transform: translateY(-50%);
            }

            &--2 {
                bottom: 15rem;
                left: 15%;
            }

            &--3 {
                top: 0;
                left: 40%;
            }

            &--4 {
                top: 55%;
                right: 40%;

                transform: translateY(-50%);
            }

            &--5 {
                top: 0;
                right: 0;
            }
        }
    }
}