.default-footer {
    margin-top: auto;
    &-wrapper {
        background-color: var(--color-dark);
        padding: 5rem 0;

        @media (max-width: 991px) {
            padding: 5rem 0;
        }
    }

    .logo {
        @extend %logo-text;
    }

    .copyright {
        font-size: 1.2rem;
        font-weight: 500;
        text-align: right;
        color: var(--color-paragraph);
    }

    @media (max-width: 991px) {

        &-wrapper {
            padding: 5rem;
        }

        .copyright {
            margin-top: 1rem;
            text-align: left;
        }
    }

    @media (max-width: 767px) {
        &-wrapper {
            padding: 5rem 1.5rem;
        }
    }

}