.footer-wrapper {
    position: relative;
    overflow: hidden;

    &.footer-anim-disabled #footer-spacer {
        display: none;
    }

    .footer-content-wrapper {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    &.footer-anim-disabled .footer-content-wrapper {
        position: static;
    }
}

.wpml-ls-statics-footer {

    a {
        @include animateIt;
    }

    li:not(.wpml-ls-current-language) .wpml-ls-link,
    li:not(.wpml-ls-current-language) .wpml-ls-link:link {
        color: var(--color-paragraph);
        background-color: var(--color-black);

        &:hover,
        &:focus {
            color: var(--color-black);
            background-color: var(--color-primary);
        }
    }

    .wpml-ls-current-language > a {
        color: var(--color-white);
        background-color: var(--color-black);
    }

    .wpml-ls-current-language:hover > a,
    .wpml-ls-current-language > a:focus {
        color: var(--color-black);
        background-color: var(--color-primary);
    }
}