.navigation-menu {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    z-index: 9999;

    &-wrapper {
        height: 100%;
    }

    ul {
        margin: 0;
    }

    // first level of depth
    > li {
        > a {
            padding: 0 25px;

            &::after {
                content: '';
                width: 0;
                height: 1px;

                background-color: var(--color-white);

                position: absolute;
                bottom: 0;
                left: 0;

                opacity: 0;

                @include animateIt(0.5s);
            }

            &:hover::after {
                width: 100%;
                opacity: 1;
            }
        }
    }

    li {
        height: 100%;
        list-style: none;
    }

    a {
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        color: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        outline: 0;
        position: relative;

        .icon {
            width: 6px;
            height: 11px;

            @include animateIt;

            svg {
                vertical-align: top;
            }
        }
    }

    .menu-item-has-children {
        position: relative;
    }

    .sub-menu {
        position: absolute;
        top: 100%;
        width: max-content;
        opacity: 0;
        visibility: hidden;
        padding: 2rem 0;
        min-width: 28rem;
        margin-top: 15px;
        margin-left: -25px;


        li a {
            opacity: 0;
            visibility: hidden;
            padding: 1.4rem 3rem 1.4rem 3rem;

            font-size: 1.6rem;
            font-weight: 500;
            color: var(--color-white);
            @include animateIt;

            svg {
                fill: var(--color-white);
            }
        }

        li:hover > a,
        li.current-menu-item > a {
            background-color: var(--color-primary);
            color: var(--color-black);

            svg {
                fill: var(--color-black);
            }
        }

        // dropdown inside dropdown
        .sub-menu {
            top: 0;
            left: calc(100% - 1px);
            background-color: var(--color-black);
            box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.2),
                0px 0px 25px 0px rgba(0, 0, 0, 0.2);
            margin-left: 0;
            a {
                color: var(--color-white);
            }
        }
    }

    // first level of depth
    > .menu-item-has-children {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
        }

        // inner levels of depth
        .menu-item-has-children {
            position: static;
        }
    }
}

.nav-dropdown-bg {
    position: absolute;
    background-color: var(--color-black);
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    transform-origin: center center;
    pointer-events: none;
    display: block;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);

    &-icon,
    .icon {
        position: absolute;
        top: -16px;
        left: 50px;
        z-index: inherit;
        transform: scale(1);
        display: block;
        pointer-events: none;
        svg {
            width: 30px;
            height: 30px;
            fill: var(--color-black);
        }
    }

    &-icon {
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
    }

    .icon {
        opacity: 0;
    }
}

.sticky-nav {
    position: fixed !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
    @include animateIt;

    &.scrolled {
        top: 0 !important;
    }

    .elementor-container,
    .e-con-inner {
        @include animateIt;
    }
}

.elementor-widget-growla_menu {
    .elementor-widget-container {
        height: 100%;
    }
}

.header-wrapper {
    z-index: 9999;

    @media (max-width: 991px) {
        &.desktop {
            display: none;
        }
    }

    @media (min-width: 992px) {
        &.mobile {
            display: none;
        }
    }
}

.mobile.navigation-menu {
    display: block;
    position: relative;
    padding: 0;

    --item-font-size: 18px;
    --item-font-weight: 500;
    --item-line-height: 60px;
    --item-color-normal: var(--color-paragraph);

    li {
        width: 100%;
        height: auto;
        display: block;
    }

    li.menu-item a {
        padding-right: 0;
        padding-left: 0;

        font-size: var(--item-font-size);
        font-weight: var(--item-font-weight);
        line-height: var(--item-line-height);
        color: var(--item-color-normal);

        &::after {
            display: none;
        }
    }

    li:hover,
    li:focus,
    li:active,
    li.current-menu-item,
    li.current-menu-ancestor {
        color: var(--color-white);

        > a {
            background-color: transparent;
            color: inherit !important;

            .icon {
                fill: var(--color-primary);
            }
        }
    }

    .icon {
        fill: var(--item-color-normal);
        width: 25px;
        height: 30px;
        pointer-events: none;
    }

    .menu-item-has-children {
        position: static;
    }

    .sub-menu {
        top: 0;
        width: 100%;
        left: 100%;
        padding: 0;
        margin-top: 0;
        margin-left: 0;
        min-width: 100%;

        li a {
            padding: 0;
            font-size: var(--item-font-size);
            font-weight: var(--item-font-weight);
            line-height: var(--item-line-height);
            color: var(--item-color-normal);
        }

        // dropdown inside dropdown
        .sub-menu {
            top: 0;
            left: 100%;
            background-color: transparent;
            box-shadow: none;
        }
    }

    .back-button {
        a {
            justify-content: initial;
            align-items: center;
            color: var(--color-paragraph) !important;

            .icon {
                transform: rotate(180deg);
                fill: var(--color-primary);
                margin-right: 0.8rem;

                width: 25px;
                height: 25px;

                svg {
                    fill: var(--color-paragraph);
                }
            }
        }

        &:hover {
            > a {
                color: var(--color-white) !important;
                .icon svg {
                    fill: var(--color-white);
                }
            }
        }
    }
}

.desktop.navigation-menu {
    > li {
        display: flex;
        align-items: center;

        > a {
            height: unset;

            &::after {
                bottom: -5px;
            }
        }
    }

    > .menu-item-has-children > a {
        &::after {
            display: none;
        }
    }

    > .menu-item-has-children > a .icon {
        width: 9px;
        height: auto;
        margin-left: 0.5rem;

        fill: var(--color-primary);

        display: inline-flex;
    }

    > li {
        position: relative;
    }

    > .current-menu-ancestor::after,
    > .current-menu-item::after {
        display: block;
    }

    padding: 0;
    > li {
        padding: 0;
        padding-right: 4.5rem;
    }
    > li > a {
        justify-content: flex-start;
        padding: 0;
    }
}

.desktop-wrapper.navigation-menu-wrapper {
    &.swiper-container {
        max-width: 100%;
        overflow: visible;
        &:not(.swiper-backface-hidden) {
            clip-path: inset(0 0 -100vw 0);
        }

        .swiper-wrapper {
            max-width: 100%;
        }

        .swiper-slide:last-child::after {
            width: calc(85% + 3rem);
            left: calc(50% + 1rem);
        }
    }

    .swiper-slide {
        width: auto;

        &:last-child {
            margin-right: 0 !important;
            padding-right: 0;
        }
    }

    .swiper-slide-active,
    .swiper-slide-active ~ .swiper-slide {
        opacity: 1;
        visibility: visible;
    }
}

.navigation-menu {
    flex-wrap: unset;
}

.default-navigation {
    width: 80%;
}

.navigation-slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.menu-slider-nav {
    @include animateIt;
    margin-top: -0.2rem;
    cursor: pointer;

    svg {
        height: 20px;
        fill: var(--color-white);
    }

    &-prev {
        margin-right: 3rem;
    }

    &-next {
        margin-left: 3rem;
    }

    &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
    }

    .swiper-button-lock {
        display: none;
    }
}
