.page-header {
    position: relative;
    overflow: hidden;

    &-wrapper {
        background-size: cover;
        background-repeat: no-repeat;
        background-color: var(--color-dark-3);
        background-position: center center;

        padding: 20rem 25px 9rem 25px;

        @media (max-width: 991px) {
            padding: 113px 25px 40px 25px;
        }
    }

    &-illustration {
        @media only screen and (max-width: 991px) {
            display: none;
        }

        .illustration-lines {
            &-canvas-4 {
                bottom: -15px !important;
            }
        }
    }

    &-content {
        position: relative;
        z-index: 10;

        h1 {
            color: var(--color-white);

            margin-bottom: 7rem;

            @media (max-width: 991px) {
                font-size: calc(3.5rem + (6 - 3.5) * ((100vw - 250px) / (1400 - 250)));
                line-height: calc(5.5rem + (8 - 5.5) * ((100vw - 250px) / (1400 - 250)));

                margin-bottom: 0;
            }
        }

        .breadcrumbs {
            padding: 0 1rem;
            text-align: right;

            @media (max-width: 991px) {
                text-align: left;
                padding: 0;
            }
        }

        ul {
            padding: 0;

            li {
                display: inline;
                color: var(--color-white);
                font-size: 1.2rem;
                font-weight: 800;
                text-transform: uppercase;
                letter-spacing: 0.2rem;

                a {
                    color: inherit;
                    text-decoration: none;
                }

                &:nth-child(n + 2)::before {
                    content: '|';
                    display: inline-block;
                    font-size: 1.2rem;
                    margin: 0 4.2rem;
                }
            }
        }
    }
}

body.header-default {
    .page-header {
        &-wrapper {
            padding-top: 9rem;

            @media (max-width: 991px) {
                padding-top: 113px;
            }
        }
    }
}
