.blog-detail {
    
    &-wrapper {
        padding: 10rem 0 15rem 0;

        @media (max-width: 991px) {
            padding: 50px;
        }

        @media (max-width: 767px) {
            padding: 50px 18px;
        }
    }

    &.related-off-comments-on .blog-detail-wrapper {
        padding-bottom: 0;

        @media (max-width: 991px) {
            padding-bottom: 0;
        }

        @media (max-width: 767px) {
            padding-bottom: 0;
        }
    }

    // thumbnail - start
    &-thumbnail {
        margin-bottom : 4.2rem;
        position: relative;
        
        .post-thumbnail {
            height: 54.7rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }

        .date {
            @extend %blog-date;
            a {
                text-decoration: none;
            }
        }

        @media (max-width: 991px) {
            margin-bottom: 2.2rem;

            .post-thumbnail {
                height: 30rem;
            }

            .details {
                flex-direction: column;
                align-items: flex-start !important;
                gap: 1rem;
            }
        }
    }
    // thumbnail - end

    // title
    &-content {
        margin-bottom: 2rem;

        h1 {
            font-size: 5rem;
            line-height: 7rem;
            word-break: break-word;

            @media (max-width: 991px) {
                font-size: 3rem;
                line-height: 4rem;
            }
        }
    }

    // content
    &-content-wrapper {
        padding-top: 2rem;

        > *:nth-child(n+2) {
            margin-top: 2rem;
        }

        a {
            @extend %paragraph;
            color: var(--color-primary);
            font-weight: 700;
        }

        li {
            color: var(--color-paragraph);
        }

        .selectify .active {
            background-color: var(--color-grey-1);
        }

        &::after {
            content: '';
            display: table;
            clear: both;
        }

        > div {
            @extend %paragraph;
        }

        iframe {
            width: 100%;
        }
    }
}

.pagination-container {
    margin-top: 3rem;

    h6 {
        color: var(--color-dark);
    }

    .post-nav-links-inner {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 1rem;
    }

    span, a {
        @extend %pagination-bullet;
    }
    
    .current {
        @extend %pagination-bullet-active;
    }

    @media (max-width: 991px) {
        margin-top: 3rem;
    }
}

.post-password-form {
    input[type="password"] {
        display: block;
        width: 100%;
    }

    @media (max-width: 991px) {
        input {
            width: 100%;
        }

        input[type="submit"] {
            width: 100%;
            margin-top: 1rem;
        }
    }
}

.post_format-post-format-chat {
    > p {
        padding: 2rem;
        background-color: var(--color-primary);
        color: var(--color-black);
        max-width: 70% !important;
        width: max-content;
        font-size: 1.6rem;
        line-height: 3rem;

        @media (max-width: 991px) {
            max-width: 90% !important;
        }
    }
    > p:nth-child(odd) {
        margin-right: 0;
        background-color: var(--color-grey-1);
        color: var(--color-dark);
    }
    > p:nth-child(even) {
        margin-left: auto;
        text-align: right;
    }
    > p:not(:first-child) {
        margin-top: 2rem;
    }
}

.post-tags {
    margin-top: 2rem;

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
        margin-top: 1rem;
    }

    li {
        font-size: 1.4rem;
        font-weight: 500;
        background-color: var(--color-grey-1);
        color: var(--color-paragraph);
        text-decoration: none;
        list-style: none;
        @include animateIt;

        a {
            display: block;
            width: 100%;
            height: 100%;
		    padding: 1rem 2rem;
            color: inherit;
            text-decoration: none;
        }

        &:hover {
            background-color: var(--color-primary);
            color: var(--color-black);
        }
    }
}

.post_format-post-format-aside > p {
    position: relative;
    padding-left: 3rem;
    
    &::before {
        content: '';
        width: 0.5rem;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-primary);
    }
}

body:not(.elementor-page) {
    .blog-detail-content-wrapper {

        * {
            word-break: break-word;
        }

        .wp-block-calendar {
            padding: 0;
        }

        @extend %default-headings;
    }
}