.single-blog-post {
    max-width: 37rem;

    @media only screen and (max-width: 991px) {
        max-width: 100%;
    }

    .thumbnail {
        position: relative;
        background-color: var(--color-dark-2);
    }

    a {
        text-decoration: none;
    }

    .post-thumbnail {
        width: 100%;
        max-width: 100%;
        height: 26.6rem;
        overflow: hidden;

        a {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
            @include animateIt;
        }
    }

    .content {
        display: block;
        position: relative;
        padding: 5rem;
        min-height: 6rem;
        color: var(--color-white);
        background-color: var(--color-dark-2);
    }

    h6 {
        width: 90%;
    }
   
    h4 {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 4rem;
        color: var(--color-dark);
        margin-top: 1.4rem;
        letter-spacing: -.1rem;
        word-break: break-word;

        @media (max-width: 991px) {
            font-size: 2rem;
            line-height: 3.5rem;
        }
    }
    
    p {
        margin-top: 2rem;
    }

    .icon {

        background-color: var(--color-dark-1);

        &-wrapper {
            position: absolute;
            bottom: 0;
            right: 0;

            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
        }

        padding: 1.5rem;

        transition: all var(--anim-duration) ease;

        svg {
            height: 24px;
            fill: var(--color-paragraph);
            transition: all var(--anim-duration) ease;

            [dir="rtl"] & {
                transform: rotate(180deg)
            }
        }
    }

    .date {
        @extend %blog-date;
    }

    .date-default {
        .date {
            margin-top: 1rem;
        }
        h6 {
            margin-top: .4rem;
        }
    }

    .no-thumbnail {
        .date {
            position: static;
        }

        .date-default .date {
            margin-top: 0;
        }
    }

    &:hover {
        .post-thumbnail {
            img {
                transform: scale(1.1);
            }
        }

        .details {
            transform: translateX(20px) scale(1);
        }

        .date {
            .hover {
                top: 0;
            }
        }

        .icon {
            background-color: var(--color-primary);
            
            svg {
                fill: var(--color-black);
            }
        }
    }

    &.no-mt {

        .details {
            margin-top: 0;
            align-items: flex-start;

            h4 {
                text-align: left;
                margin-top: .7rem;
            }
        }
    }
}

.blog-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    &-column-3 {
        .single-blog-post {
            width: calc( 33.33% - 2rem);

            @media (max-width: 991px) {
                width: calc( 50% - 1.5rem );
            }
        }
    }

    &-column-2 {
        .single-blog-post {
            width: calc( 50% - 1.5rem );
            max-width: none;
        }
    }

    .single-blog-post {
        @media (max-width: 767px) {
            width: 100%;
            max-width: none;
        }
    }

    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.sticky {
    border: 2px solid var(--color-primary);
}

%blog-date {
    background-color: var(--color-primary);
    color: var(--color-black);
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    overflow: hidden;
    
    width: max-content;
    min-width: 70px;
    
    position: absolute;
    bottom: 0;
    left: 0;
    
    [dir="rtl"] & {
        right: 0;
        left: unset;
    }

    a {
        color: inherit;
        display: block;
        text-align: center;
        
        .wrapper {
            padding: 1.9rem 2.1rem 1rem 2.1rem;
        }

        .default {
            padding: 1.3rem 2.1rem 1rem 2.1rem;
        }

        span {
            display: block;

            &.day {
                font-size: 3rem;
            }

            &.month {
                font-weight: 600;
                text-transform: uppercase; 
            }
        }
    }

}