.error-page {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    overflow: hidden;

    background-repeat: no-repeat;
    background-size: cover;

    padding: 15rem 0;

    @media only screen and (max-width: 991px) {
        padding: 5rem 2.5rem;
    }

    &-top-heading {
        color: var(--color-primary);
    }

    &-content {
        width: 70%;

        @media only screen and (max-width: 991px) {
            width: 100%;
        }
    }

    .growla-button-border {
        text-decoration: none;
    }

    .growla-button-group {
        margin-top: 3rem;

        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .waves-illustration {
        @media only screen and (max-width: 991px) {
            bottom: 0;
        }
    }

    .illustration-lines {
        z-index: 0;
    }
}
