.search {
    &-wrapper {
        padding: 15rem 0;

        @media (max-width: 991px) {
            padding: 50px;
        }

        @media (max-width: 767px) {
            padding: 50px 15px 50px 15px;
        }
    }

    .pagination {
        margin-top: 5rem;

        @media (max-width: 991px) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .col-lg-12 {
        .pagination {
            width: 100%;

            ul {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}